<a href="https://colab.research.google.com/github/simsekergun/DATA601/blob/main/Project1/DATA601_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA 601 Project-1 (Spring 2022)
### Deadline: March 31, 11:59 pm
Please download these the csv files <br>
File-1: Maryland Statewide Vehicle Crashes:  <br>
https://opendata.maryland.gov/Public-Safety/Maryland-Statewide-Vehicle-Crashes/65du-s3qu

File-2: Person Details:  <br>
https://opendata.maryland.gov/Public-Safety/Maryland-Statewide-Vehicle-Crashes-Person-Details-/py4c-dicf

File-3: Vehicle Details:  <br>
https://opendata.maryland.gov/Public-Safety/Maryland-Statewide-Vehicle-Crashes-Vehicle-Details/mhft-5t5y

<br>

We will only use "Accident Year = 2020" data. So, please remove all the unncessary rows. Names these files as "crashes.csv", "persons.csv", and "vehicles.csv", respetively. I will test your notebook with the files I created, so if you have a different naming, your code won't work.

### Q1
From these three csv files, create a single dataframe which will include following columns only <br>
- from the "crashes.csv", accident data (acc_dat), accident time (acc_time), weather description (weather_desc),report no, county (county_desc), latittude, and longitude
- from the "persons.csv", gender, data of birth, and state code
- from the "vehicles.csv", vehicle year, vehicle make, speed limit
<br>

Save your dataframe as a new csv file called "md_crash_2020.csv".

Note: All these csv files have the 'REPORT_NO' column. You need to use that column to combine these datasets.

In [2]:
import pandas as pd
df=pd.read_csv("crashes.csv")
df

C:\Users\diksh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,YEAR,QUARTER,LIGHT_DESC,LIGHT_CODE,COUNTY_DESC,COUNTY_NO,MUNI_DESC,MUNI_CODE,JUNCTION_DESC,JUNCTION_CODE,...,FEET_MILES_FLAG_DESC,FEET_MILES_FLAG,DISTANCE_DIR_FLAG,REFERENCE_NO,REFERENCE_TYPE_CODE,REFERENCE_SUFFIX,REFERENCE_ROAD_NAME,LATITUDE,LONGITUDE,LOCATION
0,2020,Q2,Daylight,1.00,Baltimore,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.277263,-76.503693,POINT (-76.5036932 39.27726285)
1,2020,Q4,NaN,6.02,Baltimore,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.323620,-76.503080,POINT (-76.503080116667 39.323620083333)
2,2020,Q2,NaN,6.02,Baltimore City,24.0,NaN,NaN,Non Intersection,1.0,...,Miles,M,N,NaN,NaN,NaN,NORTH AVE,39.311025,-76.616429,POINT (-76.616429453205 39.311024794431)
3,2020,Q2,Daylight,1.00,Montgomery,15.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.140680,-77.193413,POINT (-77.193412729561 39.140680249069)
4,2020,Q4,Dark Lights On,3.00,Baltimore,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.316200,-76.738446,POINT (-76.738446351451 39.316200405914)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94202,2020,Q1,Daylight,1.00,Baltimore,3.0,NaN,0.0,Intersection,2.0,...,Feet,F,E,0.0,UU,NaN,ENT TO GOLDEN RING CENTER,39.336339,-76.491263,POINT (-76.4912626427003 39.3363386268577)
94203,2020,Q1,Dark No Lights,4.00,Baltimore,3.0,NaN,0.0,Non Intersection,1.0,...,Feet,F,S,0.0,UU,NaN,ALLEY,39.253802,-76.522181,POINT (-76.5221809166667 39.25380155)
94204,2020,Q1,Daylight,1.00,Anne Arundel,2.0,NaN,0.0,Not Applicable,0.0,...,Feet,F,E,0.0,UU,NaN,MILE MARKER 33.0,38.992001,-76.371489,POINT (-76.3714893155213 38.9920007469827)
94205,2020,Q1,Daylight,1.00,Anne Arundel,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.929431,-76.560887,POINT (-76.5608865666667 38.9294306833333)
94206,2020,Q1,Daylight,1.00,Baltimore,3.0,NaN,0.0,NaN,88.0,...,Feet,F,N,695.0,IS,NaN,BALTO BELTWAY,39.415545,-76.613480,POINT (-76.6134801 39.4155454333333)

In [3]:
df_crash=df[["ACC_DATE","ACC_TIME","WEATHER_DESC","REPORT_NO","COUNTY_DESC","LATITUDE","LONGITUDE"]]
df_crash

,ACC_DATE,ACC_TIME,WEATHER_DESC,REPORT_NO,COUNTY_DESC,LATITUDE,LONGITUDE
0,20200618,15:15:00,Not Applicable,AE58770052,Baltimore,39.277263,-76.503693
1,20201027,17:50:00,NaN,AE63330016,Baltimore,39.323620,-76.503080
2,20200430,06:39:00,NaN,ADJ984001J,Baltimore City,39.311025,-76.616429
3,20200504,09:46:00,NaN,EJ7878001D,Montgomery,39.140680,-77.193413
4,20201204,21:45:00,Raining,AE5739006G,Baltimore,39.316200,-76.738446
...,...,...,...,...,...,...,...
94202,20200303,14:45:00,NaN,AE5710009H,Baltimore,39.336339,-76.491263
94203,20200223,06:00:00,NaN,AE6171001M,Baltimore,39.253802,-76.522181
94204,20200207,10:02:00,Raining,MDTA1162001Q,Anne Arundel,38.992001,-76.371489
94205,20200322,15:53:00,NaN,AC24100005,Anne Arundel,38.929431,-76.560887
94206,20200114,12:34:00,Raining,AE5921006N,Baltimore,39.415545,-76.613480

In [4]:
df=pd.read_csv("persons.csv")
df.columns

Index(['SEX_DESC', 'SEX_CODE', 'CONDITION_DESC', 'CONDITION_CODE',
       'INJ_SEVER_DESC', 'INJ_SEVER_CODE', 'REPORT_NO', 'OCC_SEAT_POS_DESC',
       'OCC_SEAT_POS_CODE', 'PED_VISIBLE_DESC', 'PED_VISIBLE_CODE',
       'PED_OBEY_DESC', 'PED_OBEY_CODE', 'PED_TYPE_DESC', 'PED_TYPE_CODE',
       'PED_LOCATION_CODE', 'MOVEMENT_DESC', 'MOVEMENT_CODE',
       'PERSON_TYPE_DESC', 'PERSON_TYPE', 'ALCOHOL_TEST_DESC',
       'ALCOHOL_TEST_CODE', 'ALCOHOL_TESTTYPE_DESC', 'ALCOHOL_TESTTYPE_CODE',
       'DRUG_TEST_DESC', 'DRUG_TEST_CODE', 'DRUG_TESTRESULT_DESC',
       'DRUG_TESTRESULT_CODE', 'BAC_CODE', 'FAULT_FLAG_DESC', 'FAULT_FLAG',
       'EQUIP_PROB_DESC', 'EQUIP_PROB_CODE', 'SAF_EQUIP_DESC',
       'SAF_EQUIP_CODE', 'EJECT_DESC', 'EJECT_CODE', 'DATE_OF_BIRTH',
       'PERSON_ID', 'LICENSE_STATE_CODE', 'CLASS', 'CDL_FLAG_DESC', 'CDL_FLAG',
       'VEHICLE_ID', 'EMS_UNIT_LABEL', 'AIRBAG_DEPLOYED', 'YEAR', 'Quarter'],
      dtype='object')

In [5]:
#from the "persons.csv", gender, data of birth, and state code
df_person=df[df['YEAR']==2020][["SEX_CODE","DATE_OF_BIRTH","LICENSE_STATE_CODE","REPORT_NO"]]
df_person["DATE_OF_BIRTH"]

0         20010626.0
1         20100128.0
2                NaN
3         20150131.0
4         19630828.0
             ...
203273    19700322.0
203274    19740822.0
203275    19610609.0
203276    19570323.0
203277    19850331.0
Name: DATE_OF_BIRTH, Length: 203278, dtype: float64

In [6]:
df_person = df_person[df_person['DATE_OF_BIRTH'].notna()]
df_person
df_person['DOB'] = pd.to_datetime(df_person['DATE_OF_BIRTH'], format='%Y%m%d')
df_person

       SEX_CODE  DATE_OF_BIRTH LICENSE_STATE_CODE    REPORT_NO        DOB
0             M     20010626.0                NaN   CB6032008S 2001-06-26
1             F     20100128.0                NaN   ADK1220015 2010-01-28
3             M     20150131.0                NaN   AE440100R7 2015-01-31
4             M     19630828.0                NaN   ADJ683000T 1963-08-28
6             F     19860212.0                NaN   ADK116001S 1986-02-12
...         ...            ...                ...          ...        ...
203273        M     19700322.0                NaN  MSP651500RX 1970-03-22
203274        F     19740822.0                NaN  MCP3217000W 1974-08-22
203275        M     19610609.0                 MD  MSP7291002W 1961-06-09
203276        M     19570323.0                 MD   AE59780033 1957-03-23
203277        M     19850331.0                 MD   AC23530024 1985-03-31

[184593 rows x 5 columns]

In [7]:
#from the "vehicles.csv", vehicle year, vehicle make, speed limit
df=pd.read_csv("vehicle.csv")
df.columns

Index(['HARM_EVENT_DESC', 'HARM_EVENT_CODE', 'CONTI_DIRECTION_DESC',
       'CONTI_DIRECTION_CODE', 'DAMAGE_DESC', 'DAMAGE_CODE', 'MOVEMENT_DESC',
       'MOVEMENT_CODE', 'VIN_NO', 'REPORT_NO', 'CV_BODY_TYPE_DESC',
       'CV_BODY_TYPE_CODE', 'VEH_YEAR', 'VEH_MAKE', 'VEH_MODEL',
       'COMMERCIAL_FLAG_DESC', 'COMMERCIAL_FLAG', 'HZM_NUM',
       'TOWED_AWAY_FLAG_DESC', 'TOWED_AWAY_FLAG', 'NUM_AXLES', 'GVW_DESC',
       'GVW_CODE', 'GOING_DIRECTION_DESC', 'GOING_DIRECTION_CODE',
       'BODY_TYPE_DESC', 'BODY_TYPE_CODE', 'DRIVERLESS_FLAG_DESC',
       'DRIVERLESS_FLAG', 'FIRE_FLAG_DESC', 'FIRE_FLAG', 'PARKED_FLAG_DESC',
       'PARKED_FLAG', 'SPEED_LIMIT', 'HIT_AND_RUN_FLAG_DESC',
       'HIT_AND_RUN_FLAG', 'HAZMAT_SPILL_FLAG_DESC', 'HAZMAT_SPILL_FLAG',
       'VEHICLE_ID', 'TOWED_VEHICLE_CONFIG_DESC', 'TOWED_VEHICLE_CONFIG_CODE',
       'AREA_DAMAGED_CODE_IMP1', 'AREA_DAMAGED_CODE1', 'AREA_DAMAGED_CODE2',
       'AREA_DAMAGED_CODE3', 'AREA_DAMAGED_CODE_MAIN_DESC',
       'AREA_DAMAGED_CODE_MAIN', 'YEAR', 'Quarter'],
      dtype='object')

In [8]:
df_vehicle=df[df['YEAR']==2020][["VEH_YEAR", "VEH_MAKE","SPEED_LIMIT","REPORT_NO"]]
df_vehicle

        VEH_YEAR   VEH_MAKE  SPEED_LIMIT     REPORT_NO
0            NaN    UNKNOWN           25    AE5057004X
1         2018.0     TOYOTA           55   MSP7221001P
2         2019.0  CHEVROLET           30    DA37010040
3            NaN    UNKNOWN           35  MDTA1791002C
4         2002.0      HONDA           35    AE456100BL
...          ...        ...          ...           ...
172565    2002.0        GMC           25    ADG915004Q
172566    2017.0      CHEVY           55    ZW01540018
172567    1997.0       BUIC           25    ZG0963000G
172568    2000.0       AUDI           45   MSP5995007D
172569    2007.0       FORD            0    DE3112003N

[172570 rows x 4 columns]

In [9]:
print(df_crash.head(5))
print(df_person.head(5))
print(df_vehicle.head(5))

   ACC_DATE  ACC_TIME    WEATHER_DESC   REPORT_NO     COUNTY_DESC   LATITUDE  \
0  20200618  15:15:00  Not Applicable  AE58770052       Baltimore  39.277263
1  20201027  17:50:00             NaN  AE63330016       Baltimore  39.323620
2  20200430  06:39:00             NaN  ADJ984001J  Baltimore City  39.311025
3  20200504  09:46:00             NaN  EJ7878001D      Montgomery  39.140680
4  20201204  21:45:00         Raining  AE5739006G       Baltimore  39.316200

   LONGITUDE
0 -76.503693
1 -76.503080
2 -76.616429
3 -77.193413
4 -76.738446
  SEX_CODE  DATE_OF_BIRTH LICENSE_STATE_CODE   REPORT_NO        DOB
0        M     20010626.0                NaN  CB6032008S 2001-06-26
1        F     20100128.0                NaN  ADK1220015 2010-01-28
3        M     20150131.0                NaN  AE440100R7 2015-01-31
4        M     19630828.0                NaN  ADJ683000T 1963-08-28
6        F     19860212.0                NaN  ADK116001S 1986-02-12
   VEH_YEAR   VEH_MAKE  SPEED_LIMIT     REPORT_NO
0       NaN    UNKNOWN           25    AE5057004X
1    2018.0     TOYOTA           55   MSP7221001P
2    2019.0  CHEVROLET           30    DA37010040
3       NaN    UNKNOWN           35  MDTA1791002C
4    2002.0      HONDA           35    AE456100BL

In [10]:
df_crash2020 = df_person.merge(df_crash,on='REPORT_NO').merge(df_vehicle,on='REPORT_NO')
print(df_crash2020)

       SEX_CODE  DATE_OF_BIRTH LICENSE_STATE_CODE    REPORT_NO        DOB  \
0             M     20010626.0                NaN   CB6032008S 2001-06-26
1             M     20010626.0                NaN   CB6032008S 2001-06-26
2             F     20090512.0                NaN   CB6032008S 2009-05-12
3             F     20090512.0                NaN   CB6032008S 2009-05-12
4             F     19770907.0                 MD   CB6032008S 1977-09-07
...         ...            ...                ...          ...        ...
374336        F     19620213.0                 MD   AE60670015 1962-02-13
374337        F     19570313.0                 MD  MSP6310007D 1957-03-13
374338        F     19680128.0                 MD   ZH0688000H 1968-01-28
374339        M     19880114.0                 MD  MSP3053007W 1988-01-14
374340        M     20030108.0                 MD   AE54040056 2003-01-08

        ACC_DATE  ACC_TIME WEATHER_DESC COUNTY_DESC   LATITUDE  LONGITUDE  \
0       20201012  15:00:00      Raining      Howard  39.170285 -76.916877
1       20201012  15:00:00      Raining      Howard  39.170285 -76.916877
2       20201012  15:00:00      Raining      Howard  39.170285 -76.916877
3       20201012  15:00:00      Raining      Howard  39.170285 -76.916877
4       20201012  15:00:00      Raining      Howard  39.170285 -76.916877
...          ...       ...          ...         ...        ...        ...
374336  20201224  16:10:00          NaN   Baltimore  39.379987 -76.499011
374337  20201022  14:21:00          NaN    Wicomico  38.337128 -75.446636
374338  20201214  19:11:00          NaN     Charles  38.605054 -76.898847
374339  20201224  15:35:00      Raining  Washington  39.615002 -77.793744
374340  20201016  13:50:00          NaN   Baltimore  39.387397 -76.602265

        VEH_YEAR   VEH_MAKE  SPEED_LIMIT
0         2015.0   INFINITI           35
1         2010.0     TOYOTA           35
2         2015.0   INFINITI           35
3         2010.0     TOYOTA           35
4         2015.0   INFINITI           35
...          ...        ...          ...
374336    2018.0  CHEVROLET           10
374337    2020.0        KIA           40
374338    2014.0      HONDA           35
374339    2017.0     NISSAN           60
374340    2016.0     TOYOTA           25

[374341 rows x 14 columns]

### Q2
a. For each county, determine the average age of the drivers who were involved in these accidents  <br>
b. Then list the sorted averages (from youngest to oldest) <br>

In [11]:
import datetime as dt
import numpy as np
df2=df_crash2020[["DOB"]]
df2['current']=dt.datetime.today().strftime("%Y-%m-%d")
df2['currentdate'] = pd.to_datetime(df2['current'], format='%Y-%m-%d')
df2['Age']=df2['currentdate']-df2['DOB']
df2.dtypes
df2.Age = df2.Age.astype('str')
df2.dtypes
df2['Age']=df2.Age.str[0:-5]
df2.Age = df2.Age.astype('int')
df2['Age_in_years']=df2['Age']/365
print("Average age of drivers in accidents "+str(int(df2['Age_in_years'].mean())))
#li=df2['Age_in_years']
#print(" Sorted ages :")
#li=li.tolist()
#print(li)
#print(li.sort())

#print(df2)

#2b. pending

<ipython-input-11-0d727bed0466>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['current']=dt.datetime.today().strftime("%Y-%m-%d")
<ipython-input-11-0d727bed0466>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['currentdate'] = pd.to_datetime(df2['current'], format='%Y-%m-%d')
<ipython-input-11-0d727bed0466>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Age']=df2['currentdate']-df2['DOB']
C:\Users\diksh\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-11-0d727bed0466>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Age']=df2.Age.str[0:-5]
<ipython-input-11-0d727bed0466>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Age_in_years']=df2['Age']/365

Average age of drivers in accidents 39

### Q3
a. Determine the total number of crashes per "vehicle make". List the sorted values (e.g. Honda, 1234)<br>
b. Determine average age of the car involved in these accidents for each "vehicle make".  <br>

In [12]:
#df3=df_crash2020.groupby("VEH_MAKE")
df_new=df_crash2020[df_crash2020["VEH_MAKE"].notna()]
#df_crash2020[df_new]
df_vehicle=df_new["VEH_MAKE"].value_counts()
df5=pd.DataFrame(df_vehicle)
#print(df5)
#df5.reset_index(inplace=True)
#df5
list(df5.itertuples(index=True,name=None))

[('FORD', 45578),
 ('HONDA', 37861),
 ('TOYOTA', 36756),
 ('NISSAN', 25734),
 ('DODGE', 14249),
 ('CHEVY', 13597),
 ('CHEVROLET', 13131),
 ('HYUNDAI', 12905),
 ('JEEP', 10571),
 ('TOYT', 9774),
 ('UNKNOWN', 8853),
 ('CHEV', 8769),
 ('KIA', 8268),
 ('ACURA', 6816),
 ('GMC', 6243),
 ('HOND', 5727),
 ('BMW', 5327),
 ('LEXUS', 4875),
 ('NISS', 4860),
 ('MAZDA', 4814),
 ('HYUN', 4503),
 ('SUBARU', 3916),
 ('CHRYSLER', 3563),
 ('BUICK', 2513),
 ('MERCEDES', 2381),
 ('INFINITI', 2341),
 ('MERZ', 2093),
 ('AUDI', 2083),
 ('VOLKSWAGEN', 1967),
 ('VOLVO', 1957),
 ('DODG', 1764),
 ('VOLK', 1747),
 ('RAM', 1592),
 ('VOLKSWAGON', 1556),
 ('CHRY', 1528),
 ('INTERNATIONAL', 1509),
 ('FREIGHTLINER', 1496),
 ('FRHT', 1400),
 ('CADILLAC', 1372),
 ('MITSUBISHI', 1313),
 ('LINCOLN', 1289),
 ('SUBA', 1251),
 ('PONTIAC', 1171),
 ('MERCURY', 1040),
 ('ACUR', 990),
 ('INTL', 990),
 ('MAZD', 920),
 ('INFI', 885),
 ('SATURN', 864),
 ('CADI', 860),
 ('MITS', 850),
 ('INFINITY', 827),
 ('VW', 790),
 ('MACK', 746),
 ('LEXS', 717),
 ('VOLKS', 710),
 ('MERC', 632),
 ('SCION', 605),
 ('BUIC', 588),
 ('SUZUKI', 576),
 ('NEW FLYER', 550),
 ('NEWFLYER', 468),
 ('LINC', 465),
 ('HYUNDIA', 445),
 ('HARLEY DAVIDSON', 438),
 ('ICRP', 426),
 ('PETERBILT', 425),
 ('MINI', 415),
 ('IC', 405),
 ('MERCEDES BENZ', 390),
 ('TESLA', 387),
 ('KENWORTH', 385),
 ('VOLV', 380),
 ('LAND ROVER', 369),
 ('ISUZU', 352),
 ('THOM', 342),
 ('THOMAS', 341),
 ('PTRB', 339),
 ('TOY', 339),
 ('NISSIAN', 336),
 ('PONT', 333),
 ('JAGUAR', 333),
 ('HINO', 308),
 ('YAMAHA', 276),
 ('MERCEDEZ', 271),
 ('GILL', 266),
 ('LEXU', 261),
 ('UNK', 258),
 ('PIERCE', 258),
 ('TOYO', 237),
 ('PETERBUILT', 222),
 ('TOYTA', 215),
 ('KAWASAKI', 190),
 ('PORSCHE', 190),
 ('KW', 188),
 ('CHEVEROLET', 173),
 ('CADILAC', 170),
 ('BUS', 158),
 ('FIAT', 156),
 ('HARLEY', 156),
 ('CHEVORLET', 156),
 ('CHRYS', 155),
 ('FREIGHT', 152),
 ('FRT', 151),
 ('BLUE', 150),
 ('ISU', 148),
 ('HYUNDA', 147),
 ('HYUND', 141),
 ('LANDROVER', 139),
 ('RANGE ROVER', 129),
 ('SAAB', 128),
 ('OLDSMOBILE', 128),
 ('CHRYSTLER', 125),
 ('PETE', 123),
 ('HYUNDI', 123),
 ('HUMMER', 120),
 ('KENW', 119),
 ('GILLIG', 109),
 ('NFLY', 108),
 ('STRN', 106),
 ('PIER', 105),
 ('INFINTI', 101),
 ('HD', 100),
 ('LNDR', 99),
 ('NEWF', 96),
 ('JAGU', 93),
 ('UU', 91),
 ('HYNDAI', 91),
 ('MERCEDES-BENZ', 90),
 ('WESTERN STAR', 88),
 ('PORS', 85),
 ('GILG', 85),
 ('SUB', 83),
 ('TBU', 82),
 ('OLDS', 80),
 ('INT', 77),
 ('INFIN', 76),
 ('BLUEBIRD', 73),
 ('SUZI', 72),
 ('NWFL', 72),
 ('VOLKWAGEN', 70),
 ('CRYSLER', 70),
 ('FTL', 69),
 ('MAZADA', 67),
 ('NISSA', 66),
 ('LEX', 65),
 ('SUBURU', 65),
 ('TOYOYA', 64),
 ('FRIEGHTLINER', 63),
 ('HON', 63),
 ('GRUMMAN', 63),
 ('YAMA', 61),
 ('TOYOT', 59),
 ('BLUB', 57),
 ('KAWK', 56),
 ('SATU', 54),
 ('HUNDAI', 54),
 ('ELDO', 53),
 ('TOYTOA', 53),
 ('FRGHT', 51),
 ('STERLING', 51),
 ('INTE', 50),
 ('TOTY', 50),
 ('CHEVOLET', 50),
 ('MINI COOPER', 50),
 ('MASERATI', 49),
 ('CHRYLSER', 49),
 ('MNNI', 49),
 ('EONE', 48),
 ('KEN', 48),
 ('SPARTAN', 47),
 ('GM', 47),
 ('CHEVERLOT', 47),
 ('SCIO', 46),
 ('VANH', 45),
 ('SPAR', 45),
 ('VOLKS WAGON', 43),
 ('ELDORADO', 43),
 ('PLYMOUTH', 43),
 ('FREI', 42),
 ('NOVB', 42),
 ('PIRC', 42),
 ('VOLKWAGON', 41),
 ('TOYATA', 41),
 ('XX', 41),
 ('NISSSAN', 40),
 ('INFINIT', 40),
 ('HYUANDAI', 39),
 ('MITZ', 39),
 ('WSTR', 39),
 ('ABB', 39),
 ('HODA', 39),
 ('ROSE', 38),
 ('DODGE RAM', 38),
 ('SUBU', 38),
 ('METRO', 38),
 ('HINDA', 38),
 ('WEST', 38),
 ('DOGDE', 36),
 ('HYND', 36),
 ('AUTC', 36),
 ('HYUANDI', 36),
 ('CEVROLET', 35),
 ('VANHOOL', 35),
 ('THOMPSON', 35),
 ('JOHN DEERE', 34),
 ('TESL', 34),
 ('HONA', 34),
 ('MAC', 33),
 ('THOM BU', 33),
 ('ALFA', 32),
 ('DOGE', 32),
 ('ISUZ', 32),
 ('SMART', 31),
 ('TOTOTA', 31),
 ('TRUCK', 31),
 ('INF', 31),
 ('INTER', 31),
 ('SEAG', 31),
 ('IZUZU', 31),
 ('HYANDAI', 31),
 ('NABI', 30),
 ('FREIGHLINER', 30),
 ('USPS', 30),
 ('CHEVERLET', 30),
 ('DUCATI', 29),
 ('THMS', 29),
 ('KENWOOD', 29),
 ('SEAGRAVE', 28),
 ('FREIGHT LINER', 28),
 ('LEXIS', 28),
 ('POLARIS', 28),
 ('HYUDAI', 28),
 ('AUTO', 28),
 ('CHEVROELT', 28),
 ('TOYTOTA', 28),
 ('INFINITE', 28),
 ('MITSU', 27),
 ('HYN', 27),
 ('GENERAL MOTORS', 27),
 ('MIT', 27),
 ('NISAN', 27),
 ('NEWFLY', 27),
 ('CHYSLER', 25),
 ('INTERNATIIONAL', 25),
 ('IHC', 25),
 ('LINCON', 25),
 ('MAZ', 25),
 ('PREVOST', 24),
 ('ACCURA', 24),
 ('NOVA', 24),
 ('CEHVY', 24),
 ('CHEVROLETE', 24),
 ('HUYNDAI', 24),
 ('HUMM', 23),
 ('NEW', 23),
 ('FRTL', 23),
 ('VOLKS WAGEN', 23),
 ('KENILWORTH', 23),
 ('KTM', 23),
 ('HYU', 23),
 ('STER', 23),
 ('CHEVEY', 23),
 ('TRANSIT', 23),
 ('TSMR', 23),
 ('MER', 22),
 ('POSTAL', 22),
 ('MITSUBSHI', 22),
 ('FRE', 22),
 ('BKUE BU', 22),
 ('CHRSYLER', 21),
 ('BMX', 21),
 ('CHEVRLET', 21),
 ('KME', 21),
 ('CHEVROLEY', 20),
 ('HSB', 20),
 ('WESTERN', 20),
 ('AUTOCAR', 20),
 ('NEW HOLLAND', 20),
 ('SUZU', 20),
 ('MERZ BENZ', 20),
 ('ALFA ROMEO', 20),
 ('FORK', 20),
 ('INFINTY', 20),
 ('YONGFU', 20),
 ('SUBURA', 20),
 ('HUYN', 20),
 ('NSSAN', 19),
 ('CAD', 19),
 ('CAT', 19),
 ('TOYOA', 19),
 ('INIFINITI', 19),
 ('GEO', 19),
 ('AAA', 19),
 ('MADZA', 19),
 ('SAA', 19),
 ('ICRP BU', 19),
 ('IC   BU', 19),
 ('YUKON', 19),
 ('MCI', 19),
 ('GENESIS', 19),
 ('MECURY', 19),
 ('BAOD', 19),
 ('PLYM', 18),
 ('MERCEDEZ BENZ', 18),
 ('HARLEY-DAVIDSON', 18),
 ('CRYS', 18),
 ('FRIEGHT', 18),
 ('HYNUDAI', 18),
 ('JETTA', 18),
 ('STRG', 17),
 ('HARLEY DAVISON', 17),
 ('EPO', 17),
 ('IC BU', 17),
 ('FLEET', 17),
 ('VICTORY', 17),
 ('RANGE', 17),
 ('CHECY', 17),
 ('F0RD', 17),
 ('VOLSWAGON', 17),
 ('APOLLO', 17),
 ('IC CORPORATION', 17),
 ('LEXSUS', 17),
 ('ACRUA', 17),
 ('INDIAN', 16),
 ('CAMRY', 16),
 ('MISSAN', 16),
 ('MASERATTI', 16),
 ('HYAUNDAI', 16),
 ('CHEY', 16),
 ('HYUNDAY', 16),
 ('LICOLN', 16),
 ('CHEROLET', 16),
 ('CHYRSLER', 16),
 ('MERCADES', 16),
 ('PET', 16),
 ('HONDAI', 15),
 ('MITSIBISHI', 15),
 ('TK', 15),
 ('VOL', 15),
 ('CADDILAC', 15),
 ('VOLKSWAGGON', 15),
 ('HYUNAI', 15),
 ('ICBU', 15),
 ('ONTR', 15),
 ('MITSUBUSHI', 14),
 ('FRIGHTLINER', 14),
 ('KYMCO', 14),
 ('SUZIKI', 14),
 ('FHRT', 14),
 ('FRG', 14),
 ('HARL', 14),
 ('FOD', 14),
 ('BUCK', 14),
 ('GRUMAN', 14),
 ('AUTO CAR', 14),
 ('ORD', 14),
 ('MITSHUBISHI', 14),
 ('BU', 14),
 ('WORK', 14),
 ('MADA', 14),
 ('BWM', 13),
 ('JAG', 13),
 ('VOLSKWAGEN', 13),
 ('HUYUNDAI', 13),
 ('MAIL', 13),
 ('HUNDAY', 13),
 ('SATN', 13),
 ('SPTN', 13),
 ('RAV', 13),
 ('TOYITA', 13),
 ('BLUE BIRD', 13),
 ('E-ONE', 13),
 ('PORCHE', 13),
 ('SUBRA', 13),
 ('HYUNDAU', 13),
 ('PORSHE', 13),
 ('CADILLIAC', 13),
 ('FIRE', 13),
 ('SCHOOL', 12),
 ('CANA', 12),
 ('MERCZ', 12),
 ('NISSION', 12),
 ('POTIAC', 12),
 ('US', 12),
 ('TRIUMPH', 12),
 ('FREIGHTLINE', 12),
 ('INTERNATION', 12),
 ('MITSUBISI', 12),
 ('VOLSWAGEN', 12),
 ('OTHR', 12),
 ('MITZUBISHI', 11),
 ('HUNDI', 11),
 ('KAWASKI', 11),
 ('JEPP', 11),
 ('MURCURY', 11),
 ('CARR', 11),
 ('EMON', 11),
 ('CAN-AM', 10),
 ('BAODIAO', 10),
 ('FRIEGHT LINER', 10),
 ('SUBARAU', 10),
 ('MURC', 10),
 ('CHVROLET', 10),
 ('GNC', 10),
 ('MITUBISHI', 10),
 ('GRHT', 10),
 ('GRUMMAN ALLIED', 10),
 ('TOYOYTA', 10),
 ('CEVY', 10),
 ('BOBCAT', 10),
 ('D0DGE', 10),
 ('YONG', 10),
 ('CHVEROLET', 10),
 ('UD', 10),
 ('T0Y0TA', 10),
 ('PTB', 10),
 ('FOR', 10),
 ('OLDS MOBILE', 10),
 ('ROV', 10),
 ('MERCE', 10),
 ('TYOTA', 9),
 ('99', 9),
 ('MISTUBISHI', 9),
 ('SUABRU', 9),
 ('SUBURAU', 9),
 ('CHVY', 9),
 ('NEW FLYER BUS', 9),
 ('FOED', 9),
 ('HYNDIA', 9),
 ('FREIG', 9),
 ('SUBAR', 9),
 ('CADDILLAC', 9),
 ('GRADALL', 9),
 ('SENTRA', 9),
 ('DIDGE', 9),
 ('COOPER', 9),
 ('CHR', 9),
 ('GREAT DANE', 9),
 ('TL', 9),
 ('TOYPTA', 9),
 ('HYUD', 9),
 ('TAO', 9),
 ('ORION', 9),
 ('UHAUL', 9),
 ('BLBI', 9),
 ('TOTYOTA', 9),
 ('CANAM', 9),
 ('TOYOTA2017', 9),
 ('CLUB CAR', 8),
 ('HOONDA', 8),
 ('TOYOTA SCION', 8),
 ('PETER BUILT', 8),
 ('NDMC', 8),
 ('PORSH', 8),
 ('MVP', 8),
 ('SUBARA', 8),
 ('SUZ', 8),
 ('CHEVROLT', 8),
 ('HIND', 8),
 ('CHE', 8),
 ('HIN', 8),
 ('MUSTANG', 8),
 ('E1', 8),
 ('HONNDA', 8),
 ('NEFL', 8),
 ('SABARU', 8),
 ('CEHV', 8),
 ('TOYOTTA', 8),
 ('1FMCU0G66LUB44494', 8),
 ('PETER', 8),
 ('HYNUDI', 8),
 ('MERCRY', 8),
 ('GEICO', 8),
 ('HODNA', 8),
 ('IZU', 8),
 ('HYUNADI', 8),
 ('CADILLACE', 8),
 ('FRGT', 8),
 ('TRACTOR', 8),
 ('VOVLO', 8),
 ('PNTIAC', 8),
 ('WMATA', 8),
 ('VOLV0', 8),
 ('HYUNIA', 8),
 ('E 1 PUMPER', 7),
 ('CHRISLER', 7),
 ('NIISAN', 7),
 ('TPYTA', 7),
 ('BUICC', 7),
 ('MRBZ', 7),
 ('HHYUNDAI', 7),
 ('XXX', 7),
 ('PONIAC', 7),
 ('BMI', 7),
 ('UTILITY', 7),
 ('ACCORD', 7),
 ('CAN AM', 7),
 ('EMG', 7),
 ('WESTSTAR', 7),
 ('DODFE', 7),
 ('VOLKSWAGO', 7),
 ('MTSBSHI', 7),
 ('NISAAN', 7),
 ('FERRARA', 7),
 ('SCOOTER', 7),
 ('INFINI', 7),
 ('HOME', 7),
 ('BENTLEY', 7),
 ('LAMBORGHINI', 7),
 ('CHRSY', 7),
 ('FORD`', 7),
 ('MERCDES', 7),
 ('MINNI', 7),
 ('JEP', 7),
 ('LIN', 7),
 ('MD', 7),
 ('ARRO', 7),
 ('TRANSIT BUS', 7),
 ('COROLLA', 7),
 ('PBT', 7),
 ('E-Z GO', 7),
 ('DODEG', 7),
 ('STAR', 7),
 ('MITSIBUISHI', 7),
 ('0000', 7),
 ('GMK', 7),
 ('HY', 7),
 ('VOLTSWAGON', 7),
 ('BREN', 7),
 ('NISSON', 7),
 ('LINCLON', 7),
 ('JAGAUR', 7),
 ('NEWFYLER', 7),
 ('CHEVELOT', 7),
 ('SUARU', 7),
 ('CEO', 7),
 ('HAOND', 7),
 ('4F2YZ92Z85KM55859', 7),
 ('GILL BUS', 7),
 ('LAND', 7),
 ('TSM', 7),
 ('19UUB1F32GA011008', 7),
 ('HYNU', 7),
 ('HYUI', 7),
 ('VOKSWAGEN', 7),
 ('BOAD', 7),
 ('CHEVRELOT', 6),
 ('PORSCH', 6),
 ('MERC BENZ', 6),
 ('MASE', 6),
 ('YAHAMA', 6),
 ('NISSEN', 6),
 ('LINCOL', 6),
 ('COLEMAN', 6),
 ('VOLS', 6),
 ('SUZUKY', 6),
 ('ACU', 6),
 ('JIANGSU BAODIAO LOCO', 6),
 ('NISSN', 6),
 ('NIS', 6),
 ('TAOT', 6),
 ('MITU', 6),
 ('PTBR', 6),
 ('MERCEDE', 6),
 ('5NPEC4AC2DH657355', 6),
 ('CHERKOEE', 6),
 ('TRAILER', 6),
 ('CHYR', 6),
 ('MZDA', 6),
 ('ACADIA', 6),
 ('SUSUKI', 6),
 ('3C6UR5DL6LG238998', 6),
 ('HUY', 6),
 ('GRAY', 6),
 ('FALCON', 6),
 ('Q5', 6),
 ('JN1BV7AR4FM404486', 6),
 ('MACH', 6),
 ('HOINDA', 6),
 ('YELLOW', 6),
 ('CUSTOM', 6),
 ('MONACO', 6),
 ('CADALLIC', 6),
 ('RANGER ROVER', 6),
 ('LINOLN', 6),
 ('MECEDES BENZ', 6),
 ('MERCUR', 6),
 ('INIFINIT', 6),
 ('LEXES', 6),
 ('1G2NW12E73C121926', 6),
 ('HONAA', 6),
 ('DADGE', 6),
 ('TOYOATA', 6),
 ('2G1125S30F9101016', 6),
 ('GE', 6),
 ('CHEVROLETTE', 6),
 ('ATHEY', 6),
 ('JN1FV7EL1LM460176', 6),
 ('BUCIK', 6),
 ('DOGGE', 6),
 ('MOZDA', 6),
 ('1GCEK19T64E330821', 6),
 ('TOMOS', 6),
 ('CHEV.', 6),
 ('MAIL TRUCK', 6),
 ('HUDS', 6),
 ('HYBDAI', 6),
 ('INTERATIONAL', 6),
 ('CHERVORLET', 6),
 ('SUTP', 6),
 ('HORTON', 6),
 ('CHEVR', 6),
 ('UNK.', 6),
 ('IC BUS', 6),
 ('CATERPILLAR', 6),
 ('DONGE', 6),
 ('MAZA', 6),
 ('EAGLE', 6),
 ('HONDA 4S', 6),
 ('HYUUNDAI', 6),
 ('VOLTZ', 6),
 ('TOYOTAQ', 6),
 ('NIDDAN', 6),
 ('THOMAS BUILT', 6),
 ('SCHOOL BUS', 6),
 ('S10', 6),
 ('NISSNA', 6),
 ('NISSAN`', 6),
 ('CHSY', 6),
 ('TRUM', 6),
 ('PER', 6),
 ('SUBRAU', 6),
 ('TOPB', 6),
 ('KUBOTA', 6),
 ('CHV', 6),
 ('GILLIC', 6),
 ('YV4BZ982X91060431', 6),
 ('PLYMOTH', 5),
 ('BENTLY', 5),
 ('MADZ', 5),
 ('TOYOAT', 5),
 ('CHEBROLET', 5),
 ('1N4AL21E08N434635', 5),
 ('ICC', 5),
 ('PTR', 5),
 ('BATAVUS', 5),
 ('1HGCS22808A005468', 5),
 ('JEEO', 5),
 ('KIAN', 5),
 ('BUELL', 5),
 ('IN', 5),
 ('MASER', 5),
 ('TUCSON', 5),
 ('SILVER', 5),
 ('3TYSZ5AN5LT004234', 5),
 ('HME', 5),
 ('HYUNDAL', 5),
 ('CADILAIC', 5),
 ('JN8AS5MT2DW546239', 5),
 ('HONDQA', 5),
 ('PIERCE PUMPER', 5),
 ('MERS', 5),
 ('PEQU', 5),
 ('VOLVA', 5),
 ('CHRYLER', 5),
 ('LLV', 5),
 ('SATR', 5),
 ('CHEVE', 5),
 ('NDA', 5),
 ('ADUI', 5),
 ('KNAFG526477117406', 5),
 ('CHRYSTLR', 5),
 ('LANDRVR', 5),
 ('WHGM', 5),
 ('EMERGENCY', 5),
 ('GOLF CART', 5),
 ('MIRAGE', 5),
 ('DOODGE', 5),
 ('PELICAN', 5),
 ('UNKOWN', 5),
 ('CHRVY', 5),
 ('JN8AZ28R29T110041', 5),
 ('ROYAL ENFIELD', 5),
 ('2HKRW2H83HH624336', 5),
 ('V50', 5),
 ('HYNDI', 5),
 ('UTIL', 5),
 ('INFINII', 5),
 ('JN1DA31A33T420705', 5),
 ('3GNAXHEV1KS509729', 5),
 ('FORD1', 5),
 ('BMW1', 5),
 ('STLG', 5),
 ('CHYLSER', 5),
 ('JIAJUE', 5),
 ('HONDA`', 5),
 ('PERTERBILT', 5),
 ('X', 5),
 ('MOPED', 5),
 ('FORD(SILVER)', 5),
 ('2T1CF22P6XC125425', 5),
 ('MEDZ', 5),
 ('TAOTAO', 5),
 ('DOGDGE', 5),
 ('CGEVROLET', 5),
 ('JF1GF4858WH803417', 5),
 ('WOLF', 5),
 ('VOLKSWAGGEN', 5),
 ('CHVEY', 5),
 ('PENSKE', 5),
 ('AMEL', 5),
 ('WABASH', 5),
 ('TOYOTAY', 5),
 ('FREIGH LINER', 5),
 ('1VWBN7A31CC009351', 5),
 ('KAWISAKI', 5),
 ('NISSAM', 5),
 ('OTHER', 5),
 ('KAUFMAN', 5),
 ('SUBARY', 5),
 ('JAYCO', 5),
 ('AMERICAN', 5),
 ('HYINDAI', 5),
 ('TURT', 5),
 ('HYUADAI', 5),
 ('FRIGHT', 5),
 ('CHEVROLER', 5),
 ('SSUBARU', 5),
 ('WORKHORSE', 5),
 ('VOLVOL', 5),
 ('TEREX', 5),
 ('INFININTI', 5),
 ('2A8HR44E99R529058', 5),
 ('SUBABRU', 5),
 ('CHEVROLE', 5),
 ('TREK', 5),
 ('MEIDUO', 5),
 ('NEWFLER', 5),
 ('1GTSKVE31AZ167855', 5),
 ('PONTAIC', 5),
 ('1C4GP54L0Y8589627', 5),
 ('JINMAR', 5),
 ('MERCEDEZ-BENZ', 5),
 ('HYUNDAO', 5),
 ('VOIW', 5),
 ('SPRINTER', 5),
 ('CHBU', 5),
 ('PROGRESSIVE', 5),
 ('HORT', 5),
 ('ODGE', 5),
 ('NISSS', 5),
 ('MITTS', 5),
 ('KM8SB12B14U580750', 5),
 ('00000', 5),
 ('INFINATY', 4),
 ('TRK', 4),
 ('INTERNATIONA', 4),
 ('CHEROKEE', 4),
 ('KIA - BLACK', 4),
 ('KENTLEWORTH', 4),
 ('ALFA ROMERO', 4),
 ('MITUSUBISHI', 4),
 ('JAQUAR', 4),
 ('FRH', 4),
 ('UTL', 4),
 ('INTNL', 4),
 ('EXMARK', 4),
 ('HYD', 4),
 ('HYUNDAAI', 4),
 ('3N1CE2CP8JL368064', 4),
 ('2016', 4),
 ('INIFINITY', 4),
 ('WANC', 4),
 ('OLDMOBILE', 4),
 ('2GNALCEK6G6159816', 4),
 ('CADILIAC', 4),
 ('NISSAN - BURGUNDY', 4),
 ('HUNDIA', 4),
 ('EASY GO', 4),
 ('ROSENBAUER', 4),
 ('4T1BG28K7WU241184', 4),
 ('KAWAK', 4),
 ('SUBN', 4),
 ('MINNIE', 4),
 ('PETTERBILT', 4),
 ('HIUNDAY', 4),
 ('DODGE SUV', 4),
 ('UTI', 4),
 ('3VW5T7BU9LM048892', 4),
 ('AMERICAN LAFRANCE', 4),
 ('MAXDZ', 4),
 ('VOLKSWAGAN', 4),
 ('CHEVOROLET', 4),
 ('HYUB', 4),
 ('MECEDES', 4),
 ('1D7HL42NX3S328499', 4),
 ('DIAM', 4),
 ('BENT', 4),
 ('FORDQ', 4),
 ('INTL TK', 4),
 ('CEHVROLET', 4),
 ('WAURD68D12A000377', 4),
 ('AMGE', 4),
 ('WINNEBAGO', 4),
 ('MITIBISHI', 4),
 ('PEIRCE', 4),
 ('KENTWORTH', 4),
 ('1D7FL16K04S505648', 4),
 ('PONTIC', 4),
 ('FIRE TRUCK', 4),
 ('FORF', 4),
 ('CHRYSER', 4),
 ('BOX TRUCK', 4),
 ('1GTSKVEA3AZ215001', 4),
 ('LUXUS', 4),
 ('FORD E350', 4),
 ('BMW (DARK GRAY)', 4),
 ('GILLY', 4),
 ('MIST', 4),
 ('CCHEVY', 4),
 ('CHRYSTELR', 4),
 ('1FTPX14504FA08866', 4),
 ('EZGO', 4),
 ('PETERBUILD', 4),
 ('2T1BR18E6WC026556', 4),
 ('GRUNMAN', 4),
 ('AVURA', 4),
 ('2HGFA16588H521847', 4),
 ('TRAVEL CRUISER', 4),
 ('LEXUIS', 4),
 ('ELANTRA', 4),
 ('HYUNTA', 4),
 ('FRAIGHT', 4),
 ('NOVAB', 4),
 ('LIGHT RAIL', 4),
 ('JOHN DEER', 4),
 ('1J4FJ78S6VL574334', 4),
 ('MERCEDES- BENZ', 4),
 ('PATRIOT', 4),
 ('2C3CDZBT6HH606038', 4),
 ('INTERNATIONAL TRACTO', 4),
 ('US MAIL TRUCK', 4),
 ('KARA', 4),
 ('KNMAT2MV0GP713379', 4),
 ('AURA', 4),
 ('SOUT', 4),
 ('HYUDIA', 4),
 ('YV1622FS3C2044232', 4),
 ('GILL BU', 4),
 ('1HGCM56196A061463', 4),
 ('NISSAN (SILVER)', 4),
 ('MCK', 4),
 ('FUSO', 4),
 ('INTERNATONAL', 4),
 ('KIA SORENTO', 4),
 ('HDY', 4),
 ('KMHDH4AE9DU657935', 4),
 ('UPS', 4),
 ('LEXUS - BLACK', 4),
 ('UKNOWN', 4),
 ('SUBR', 4),
 ('MER BENX', 4),
 ('1GNSCGEC5GR417753', 4),
 ('INTERNATIONAL TRUCK', 4),
 ('GMS', 4),
 ('VOLLSWAGON', 4),
 ('WRKH', 4),
 ('JH4CU4F63AC002568', 4),
 ('JOHN', 4),
 ('FOORD', 4),
 ('WINN', 4),
 ('LOCOMOTIVE', 4),
 ('HIUNDAI', 4),
 ('FLINT', 4),
 ('CHRYTLER', 4),
 ('VOLKSAGON', 4),
 ('BICK', 4),
 ('ROAD RIGHT', 4),
 ('MAST', 4),
 ('GIAN', 4),
 ('SATRN', 4),
 ('DDODGE', 4),
 ('1FT8W3AT7BEB71748', 4),
 ('SATUR', 4),
 ('GILIG', 4),
 ('1HGCR2F87DA167257', 4),
 ('PON', 4),
 ('USAA', 4),
 ('VOLVE', 4),
 ('2LMDU88C27BJ18255', 4),
 ('1HGFA16566L139638', 4),
 ('INFNI', 4),
 ('VENTURE', 4),
 ('PONAIC', 4),
 ('1FVACWDT9EHFM2913', 4),
 ('BENZ', 4),
 ('XXXXX', 4),
 ('FREEDOM', 4),
 ('NISSAN (WHITE)', 4),
 ('JIANGSU', 4),
 ('INFINITY G', 4),
 ('1FMCU93148KC68149', 4),
 ('1N4AA5AP3AC847241', 4),
 ('CATR', 4),
 ('350', 4),
 ('MERCY', 4),
 ('US POSTAL', 4),
 ('MITSBUSHI', 4),
 ('DOD', 4),
 ('1FT7W2B63LED57612', 4),
 ('1GNEVHKW9JJ110569', 4),
 ('NABI BUS', 4),
 ('LEXAS', 4),
 ('BUIK', 4),
 ('GILLAG', 4),
 ('R&R', 4),
 ('EMS', 4),
 ('SLIN', 4),
 ('WEAR', 4),
 ('PEIRE', 4),
 ('1GCGTDEN6L1246812', 4),
 ('WOLKSWAGON', 4),
 ('RAM WHITE POSTAL', 4),
 ('ISZU', 4),
 ('1GCUYEEDXLZ252597', 4),
 ('MASSEY', 4),
 ('SME', 4),
 ('FRHT AM', 4),
 ('CHREVORLET', 4),
 ('PHOE', 4),
 ('FREIGHTLIN', 4),
 ('LINCOLM', 4),
 ('LEXUX', 4),
 ('INTERNATINAL', 4),
 ('INTERNTL', 4),
 ('I', 4),
 ('CHEVY2', 4),
 ('JEE[', 4),
 ('TT', 4),
 ('4 DOOR', 4),
 ('1C3CDZEG5CN112235', 4),
 ('LANROVER', 4),
 ('INIFINTI', 4),
 ('PETERBUIT', 3),
 ('ML32A3HJ2LH006167', 3),
 ('CADILLA', 3),
 ('DODE', 3),
 ('3C6URVJG1LE139749', 3),
 ('1FTEF14N3JNA41582', 3),
 ('CHVE', 3),
 ('BENI', 3),
 ('MACK TK', 3),
 ('FRHTLINR', 3),
 ('5TEWN72N02Z107369', 3),
 ('MITSI', 3),
 ('CORVETTE', 3),
 ('HYUNDAII', 3),
 ('RELT', 3),
 ('MERCURI', 3),
 ('VOLKES', 3),
 ('SUV', 3),
 ('1HGCG56632A006617', 3),
 ('PEETERBELT', 3),
 ('AUUDI', 3),
 ('SSR', 3),
 ('EPD', 3),
 ('SEMI', 3),
 ('AMBULANCE', 3),
 ('3VWRK69M53M130106', 3),
 ('JT8BD69S540195196', 3),
 ('1HGEJ6121VL104123', 3),
 ('ZHEJIANG TAOTAO VEH.', 3),
 ('FRIEGHTLIN', 3),
 ('PETERBIRD', 3),
 ('HYTR', 3),
 ('PRO TAPER', 3),
 ('JN1BV7AR4FM398303', 3),
 ('MERCERY', 3),
 ('HONDAS', 3),
 ('CHEVROLEET', 3),
 ('BUCI', 3),
 ('HANDA', 3),
 ('1N4BA41EX4C858111', 3),
 ('TTOYOTA', 3),
 ('PETERBIL', 3),
 ('FLEETWOOD', 3),
 ('PROSTAR', 3),
 ('5NPET46C99H532286', 3),
 ('MERZADES', 3),
 ('CEV', 3),
 ('THMS BU', 3),
 ('5NPD74LF8KH442812', 3),
 ('CHEVU', 3),
 ('MINICOP', 3),
 ('WG', 3),
 ('JIA', 3),
 ('POMT', 3),
 ('1HGCG22471A035541', 3),
 ('KAWA', 3),
 ...]

In [16]:
df_crash2020.dtypes
#df_crash2020['ACCIDENT_DATE']=

SEX_CODE                      object
DATE_OF_BIRTH                float64
LICENSE_STATE_CODE            object
REPORT_NO                     object
DOB                   datetime64[ns]
ACC_DATE                       int64
ACC_TIME                      object
WEATHER_DESC                  object
COUNTY_DESC                   object
LATITUDE                     float64
LONGITUDE                    float64
VEH_YEAR                     float64
VEH_MAKE                      object
SPEED_LIMIT                    int64
ACCIDENT_YEAR                  int32
dtype: object

In [14]:
#b. Determine average age of the car involved in these accidents for each "vehicle make".
l=  df_crash2020['ACC_DATE'].astype('str')
#df_crash2020['ACCIDENT_TYPE']=df_crash2020['ACC_DATE']
#df_crash2020.drop('ACCIDENT_TYPE',axis=1)
df_crash2020['ACCIDENT_YEAR']=l.str[:4]
#converting date column to int to perform calculations
df_crash2020['ACCIDENT_YEAR']=df_crash2020['ACCIDENT_YEAR'].astype('int')

In [15]:
#df_crash2020["CAR_AGE"]=df_crash2020["ACCIDENT_YEAR"]-df_crash2020["VEH_YEAR"]
df_crash2020.dtypes
df_crash2020["CAR_AGE"]=df_crash2020["ACCIDENT_YEAR"]-df_crash2020["VEH_YEAR"]
df_crash2020
d=df_crash2020.groupby('VEH_MAKE')['CAR_AGE'].mean()
#d
#d has mean of all cars
#verifying data by filtering 
print(d['KIA'])
fil=df_crash2020['VEH_MAKE']=='KIA'
fil
print(df_crash2020.loc[fil]['CAR_AGE'].mean())
#d=df_crash2020.loc[:,'VEH_MAKE'].groupby('VEH_MAKE')['CAR_AGE'].mean()
#d
print("Avg age of car")
print(d)
dk= df['VEH_MAKE'].apply(lambda x: count(x) if x.startswith("0"))

SyntaxError: invalid syntax (<ipython-input-15-1e9cc2fcb2bc>, line 17)

In [ ]:
#df_crash2020[df_crash2020["VEH_MAKE"].startswith("0")]

### Q4
a. Determine all the accidents that happened in a circle centered at (39.016149, -77.117942) with a radius of 5 km. Among them,  <br>
b. Determine the number of accidents where the speed limit was above 51 miles per hour. <br>
c. Determine the number of accidents where the speed limit was below 41 miles per hour.  <br>
<br>
Hint: Please see the "P1_Helper_Distance_From_Coordinates.ipynb" that can be found at https://github.com/simsekergun/DATA601/tree/main/Project1

In [ ]:
def haversine_distance(lat1, lon1):
   r = 6371
   lat2= 39.016149
   lon2= -77.117942
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2-lat1)
   delta_lambda = np.radians(lon2-lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1-a)))
   return np.round(res, 2)

In [ ]:
#df_crash2020
from math import radians, sin, cos, acos
import numpy as np
#df['distance'] = df['col1'].apply(complex_function)
df_crash2020['Distance'] = df_crash2020.apply(lambda x: haversine_distance(x['LATITUDE'], x['LONGITUDE']),axis=1)
df_crash2020[df_crash2020['Distance']<=5]

In [ ]:
# Determine the number of accidents where the speed limit was above 51 miles per hour.
df_crash2020[df_crash2020['SPEED_LIMIT']>51]

In [ ]:
#Determine the number of accidents where the speed limit was below 41 miles per hour.
df_crash2020[df_crash2020['SPEED_LIMIT']<41]

### Q5
Download "Licensed Drivers By Sex" data from  <br>
https://github.com/simsekergun/DATA601/tree/main/Project1

a. Determine the number of drivers, who got in a car crash, from non-DMV states as a function of gender and list them <br>
`St Male Female` <br>
`NY 1510  622` <br>
`PA 1251 1312` <br>
... <br>
Note: DMV states: DC, MD, and VA  <br>
 <br>
b. Normalize the previous list with number of male drivers and female drivers for each state. e.g. There are 1 million male drivers in NY and 2 million female drivers, then the normalized numbers should be <br>
<br>
`St    Male_Norm  Female_Norm` <br>
`NY    1.510e-3  0.311e-3` <br>

In [38]:
df_gender=pd.read_csv("Genders.csv")
DMV=['Washington','Maryland','Virginia']
df_gender
df_new_crash=df_crash2020[df_crash2020['LICENSE_STATE_CODE'].notna()]
df_new_crash.drop(df_new_crash[df_new_crash.SEX_CODE=='U'].index, inplace=True)
df10=df_new_crash.groupby('LICENSE_STATE_CODE')
df11=df10['SEX_CODE'].value_counts()
df11=pd.DataFrame(df11)
df11.rename(columns={"SEX_CODE":"COUNT"},inplace=True)
df11=df11.reset_index()
#df11=df11.reset_index()
df11
#removing DMV states
df11.drop(df11[(df11.LICENSE_STATE_CODE == 'DC') | (df11.LICENSE_STATE_CODE == 'MD') | (df11.LICENSE_STATE_CODE == 'VA' )].index, inplace=True)
df11=df11.pivot(index="LICENSE_STATE_CODE",columns="SEX_CODE",values="COUNT")
#df11.loc['NY']
df11
#b Normalize the previous list with number of male drivers and female drivers for each state. e.g. There are 1 million male drivers in NY and 2 million female drivers, then the normalized numbers should be
df12 = df11.div(df11.sum(axis=1), axis=0)
df12
#df.drop(df[(df.score < 50) & (df.score > 20)].index)
#df11.melt(id_vars=['SEX_CODE'])
#df_gender.STATE=="Iowa"
#df_gender[[df_gender['STATE']=='Washington']]
#df_new_one= df_crash2020.merge(df_gender,on='REPORT_NO').merge(df_vehicle,on='REPORT_NO')

C:\Users\diksh\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

SEX_CODE                   F         M
LICENSE_STATE_CODE
AB                  1.000000       NaN
AK                  0.395833  0.604167
AL                  0.379630  0.620370
AR                  0.383333  0.616667
AS                       NaN  1.000000
...                      ...       ...
WI                  0.305556  0.694444
WV                  0.369716  0.630284
WY                  0.250000  0.750000
XX                  0.227239  0.772761
YT                       NaN  1.000000

[67 rows x 2 columns]

### Q6
a. On which day of the week (Monday through Sunday) do the most of the crashes happen? <br>
b. On which hour of the day (00 - 24) do the most of the crashes happen?  <br>

In [39]:
#df_crash2020.dtypes
#df_crash2020['ACC_DATE'].to_datetime()
#print(df_crash2020['ACC_DATE'])
d12=pd.to_datetime(df_crash2020['ACC_DATE'],format="%Y%m%d")
#print(d12)
d13 = d12.dt.day_name()
d13
d14=pd.DataFrame(d13.value_counts())
d14.reset_index(inplace=True)
d14.rename(columns = {"index": "Day"}, inplace = True)
d14[d14['ACC_DATE']==d14['ACC_DATE'].max()]

#d14['ACC_DATE']==d14.max()
#d14[d14['ACC_DATE']==d14.max()]

      Day  ACC_DATE
0  Friday     63876

In [40]:
#On which hour of the day (00 - 24) do the most of the crashes happen?
d15=pd.DataFrame(df_crash2020['ACC_TIME'].value_counts())
d15.reset_index(inplace=True)
d15.rename(columns = {"index": "Day"}, inplace = True)
d15[d15['ACC_TIME']==d15['ACC_TIME'].max()]

        Day  ACC_TIME
0  16:00:00      2227

### Q7
Download "Maryland Average Precipitation and Snow 2020" data from  <br>
https://github.com/simsekergun/DATA601/tree/main/Project1

You need assume that it is a rainy/snowy day if the second column is bigger than 0.05 or if the third column is bigger than 1; otherwise take that day as a non-rainy/snowy day. <br>
a. What is the ratio of the number of accidents happened in rainy/snowy days to the number of accidents happened in non-rainy/snowy days? <br>
b. What does this ratio tell us?

In [42]:
import pandas as pd
df=pd.read_csv("Snow.csv", encoding= 'unicode_escape')
print(df.columns)
#cond = (df['Precip in.'] > 0.05) or (df['Snow in.'] > 1)
#print(df.loc[cond])
df.loc[df['Precip in.'] > 0.05, 'day_type'] = True 
df.loc[df['Snow in.'] > 1, 'day_type'] = True 
df['day_type'] = df['day_type'].fillna(False)
df['day_type'].value_counts()

Index(['Date', 'Precip in.', 'Snow in.'], dtype='object')

False    235
True     131
Name: day_type, dtype: int64

In [ ]:
#b. What does this ratio tell us?

#More accidents happened on non-rainy/snowy days

#Q8
Use matplotlib and/or seaborn and show your talent in data visualization. You are free to visualize anything you want regarding this dataset.

In [ ]:
df['day_type'].value_counts()